name: Build & Release
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    tags:
      - v*
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
      id: checkout

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.20

    - name: Get dependencies and run test
      run: |
        go mod tidy
        make test

    - uses: goreleaser/goreleaser-action@v4
      if: startsWith(github.ref, 'refs/tags/')
      name: Release
      with:
        distribution: goreleaser
        version: latest
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GORELEASER_CURRENT_TAG: ${{ github.ref_name }}

    - name: Update new version in krew-index
      if: startsWith(github.ref, 'refs/tags/')
      uses: rajatjindal/krew-release-bot@v0.0.43
